:root {
    --white: #ffffff;
    --box_bg_00: rgba(73, 90, 143, 0);
    --box_bg_10: rgba(73, 90, 143, 0.1);
    --box_bg_20: rgba(73, 90, 143, 0.2);
    --box_bg_40: rgba(73, 90, 143, 0.4);
    --box_bg_80: rgba(73, 90, 143, 0.8);
    --pga_bg: rgba(33, 39, 61, 1);
    --a272F4C: rgba(39, 47, 76, 1);
    --a323A56: rgba(50, 58, 86, 1);
    --a464D69: rgba(70, 77, 105, 1);
    --a626D90: rgba(98, 109, 144, 1);
    --a7A819B: rgba(122, 129, 155, 1);
    --a9198AF: rgba(145, 152, 175, 1);
    --CBCFDC: rgba(203, 207, 220, 1);
    --E8EAF1: rgba(232, 234, 241, 1);
    --a11B176: rgba(17, 177, 118, 1);
    --a0CDA8E: rgba(12, 218, 142, 1);
    --a6BA6FF: rgba(107, 166, 255, 1);
    --FF6B6B: rgba(255, 107, 107, 1);

    --a32: 32px;
    --a28: 28px;
    --a26: 26px;
    --a24: 24px;
    --a22: 22px;
    --a20: 20px;
    --a18: 18px;
    --a16: 16px;
    --a14: 14px;
    --a12: 12px;

    --shodow:  0px 4px 4px rgba(31, 37, 57, 0.2);
    --bright:  0px 0px 6px rgba(117, 138, 204, 0.3);
    --bl16: blur(8px);

}